# Created by venv; see https://docs.python.org/3/library/venv.html


# Environment variables
.env

# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Uploaded images
uploads/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db